@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0 0;
  --foreground: 255 255 255;
}

/* .dark {
  --background: 0 0 0;
  --foreground: 255 255 255;
} */

/* body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
} */

.hero-text {
  font-size: clamp(2rem, 5vw, 8rem);
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.text-balance {
  text-wrap: balance;
}

